* {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 6vh;
    background: #1F2937;
    color: white;
}
.headerContainer{
    display: flex;
    justify-content: space-between;
    width: 44vw;
}
h1{font-size: 15px;}
nav a{
    margin: 0px 4px 0px 4px;
    font-size: 12px;
    color:white;
    text-decoration: none;
}
button{
    padding: 6px;
    background-color: #3B82F6;
    color:white; 
    font-size: 10px;
    border: none; 
    border-radius: 3px;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vh;
    background: #1F2937;
    color: white;
}
.sec1Left{
    width: 20vw;
}
.sec1Left p{
    font-size: 12px;
}
.sec1Image{
    width: 20vw;
    height: 110px;
    margin: 0vw 0vw 0vw 4vw;
}
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 24vh;
}
.sec2Items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 44vw;
}
.sec2Item{
    width: 100px;
}
.sec2Item p{
    display: flex;
    font-size: 8px;
    text-align: center;
}
.sec2Images{
    width: 6vw;
    height: 6vw;
    border-radius: 5px;
    border: 1px;
    border: 2px solid #3B82F6;
}
.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vh;
    background: #E5E7EB;
}
.sec3Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section3 p{
    width: 44vw;
    font-size: 300;
}
.section3 h4{
    text-align: end;
}
.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16vh;
    color: white;
}
.sec4Content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 44vw;
    height: 10vh;
    background:  #3B82F6;
    border-radius: 5px;
}
.sec4Content button{
    height: fit-content;
    border: 2px solid white;
}
footer{
    height: 6vh;
    text-align: center;
    background: #1F2937;
    color: white;
}